<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Showroom.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>AD4EE6355944F33BDB29D8068F22F6C1A1408EFC</string>
				<key>dateExpires</key>
				<string>2023/02/03</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AD4EE6355944F33BDB29D8068F22F6C1A1408EFC</string>
						<key>dateExpires</key>
						<string>2023/02/03</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AFNetworking.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7839LK732X</string>
						<key>name</key>
						<string>JP Imnex Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>3.2.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AD4EE6355944F33BDB29D8068F22F6C1A1408EFC</string>
						<key>dateExpires</key>
						<string>2023/02/03</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AWSAutoScaling.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7839LK732X</string>
						<key>name</key>
						<string>JP Imnex Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>2.19.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AD4EE6355944F33BDB29D8068F22F6C1A1408EFC</string>
						<key>dateExpires</key>
						<string>2023/02/03</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AWSCloudWatch.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7839LK732X</string>
						<key>name</key>
						<string>JP Imnex Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>2.19.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AD4EE6355944F33BDB29D8068F22F6C1A1408EFC</string>
						<key>dateExpires</key>
						<string>2023/02/03</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AWSCognito.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7839LK732X</string>
						<key>name</key>
						<string>JP Imnex Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>2.19.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AD4EE6355944F33BDB29D8068F22F6C1A1408EFC</string>
						<key>dateExpires</key>
						<string>2023/02/03</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AWSCognitoIdentityProvider.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7839LK732X</string>
						<key>name</key>
						<string>JP Imnex Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>2.19.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AD4EE6355944F33BDB29D8068F22F6C1A1408EFC</string>
						<key>dateExpires</key>
						<string>2023/02/03</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AWSCognitoIdentityProviderASF.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7839LK732X</string>
						<key>name</key>
						<string>JP Imnex Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>2.19.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AD4EE6355944F33BDB29D8068F22F6C1A1408EFC</string>
						<key>dateExpires</key>
						<string>2023/02/03</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AWSCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7839LK732X</string>
						<key>name</key>
						<string>JP Imnex Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>2.19.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AD4EE6355944F33BDB29D8068F22F6C1A1408EFC</string>
						<key>dateExpires</key>
						<string>2023/02/03</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AWSDynamoDB.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7839LK732X</string>
						<key>name</key>
						<string>JP Imnex Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>2.19.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AD4EE6355944F33BDB29D8068F22F6C1A1408EFC</string>
						<key>dateExpires</key>
						<string>2023/02/03</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AWSEC2.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7839LK732X</string>
						<key>name</key>
						<string>JP Imnex Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>2.19.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AD4EE6355944F33BDB29D8068F22F6C1A1408EFC</string>
						<key>dateExpires</key>
						<string>2023/02/03</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AWSElasticLoadBalancing.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7839LK732X</string>
						<key>name</key>
						<string>JP Imnex Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>2.19.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AD4EE6355944F33BDB29D8068F22F6C1A1408EFC</string>
						<key>dateExpires</key>
						<string>2023/02/03</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AWSIoT.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7839LK732X</string>
						<key>name</key>
						<string>JP Imnex Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>2.19.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AD4EE6355944F33BDB29D8068F22F6C1A1408EFC</string>
						<key>dateExpires</key>
						<string>2023/02/03</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AWSKinesis.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7839LK732X</string>
						<key>name</key>
						<string>JP Imnex Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>2.19.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AD4EE6355944F33BDB29D8068F22F6C1A1408EFC</string>
						<key>dateExpires</key>
						<string>2023/02/03</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AWSLambda.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7839LK732X</string>
						<key>name</key>
						<string>JP Imnex Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>2.19.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AD4EE6355944F33BDB29D8068F22F6C1A1408EFC</string>
						<key>dateExpires</key>
						<string>2023/02/03</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AWSMachineLearning.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7839LK732X</string>
						<key>name</key>
						<string>JP Imnex Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>2.19.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AD4EE6355944F33BDB29D8068F22F6C1A1408EFC</string>
						<key>dateExpires</key>
						<string>2023/02/03</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AWSMobileAnalytics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7839LK732X</string>
						<key>name</key>
						<string>JP Imnex Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>2.19.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AD4EE6355944F33BDB29D8068F22F6C1A1408EFC</string>
						<key>dateExpires</key>
						<string>2023/02/03</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AWSS3.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7839LK732X</string>
						<key>name</key>
						<string>JP Imnex Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>2.19.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AD4EE6355944F33BDB29D8068F22F6C1A1408EFC</string>
						<key>dateExpires</key>
						<string>2023/02/03</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AWSSES.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7839LK732X</string>
						<key>name</key>
						<string>JP Imnex Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>2.19.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AD4EE6355944F33BDB29D8068F22F6C1A1408EFC</string>
						<key>dateExpires</key>
						<string>2023/02/03</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AWSSNS.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7839LK732X</string>
						<key>name</key>
						<string>JP Imnex Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>2.19.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AD4EE6355944F33BDB29D8068F22F6C1A1408EFC</string>
						<key>dateExpires</key>
						<string>2023/02/03</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AWSSQS.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7839LK732X</string>
						<key>name</key>
						<string>JP Imnex Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>2.19.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AD4EE6355944F33BDB29D8068F22F6C1A1408EFC</string>
						<key>dateExpires</key>
						<string>2023/02/03</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AWSSimpleDB.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7839LK732X</string>
						<key>name</key>
						<string>JP Imnex Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>2.19.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AD4EE6355944F33BDB29D8068F22F6C1A1408EFC</string>
						<key>dateExpires</key>
						<string>2023/02/03</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7839LK732X</string>
						<key>name</key>
						<string>JP Imnex Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.12</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AD4EE6355944F33BDB29D8068F22F6C1A1408EFC</string>
						<key>dateExpires</key>
						<string>2023/02/03</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7839LK732X</string>
						<key>name</key>
						<string>JP Imnex Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>6.7.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AD4EE6355944F33BDB29D8068F22F6C1A1408EFC</string>
						<key>dateExpires</key>
						<string>2023/02/03</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManager.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7839LK732X</string>
						<key>name</key>
						<string>JP Imnex Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>6.5.6</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AD4EE6355944F33BDB29D8068F22F6C1A1408EFC</string>
						<key>dateExpires</key>
						<string>2023/02/03</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>JTCalendar.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7839LK732X</string>
						<key>name</key>
						<string>JP Imnex Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>2.2.6</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>armv7s</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>7.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AD4EE6355944F33BDB29D8068F22F6C1A1408EFC</string>
						<key>dateExpires</key>
						<string>2023/02/03</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>OZRViewer.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7839LK732X</string>
						<key>name</key>
						<string>JP Imnex Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>7.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>24</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AD4EE6355944F33BDB29D8068F22F6C1A1408EFC</string>
						<key>dateExpires</key>
						<string>2023/02/03</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>PaypopFramework.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7839LK732X</string>
						<key>name</key>
						<string>JP Imnex Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.7.7</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AD4EE6355944F33BDB29D8068F22F6C1A1408EFC</string>
						<key>dateExpires</key>
						<string>2023/02/03</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7839LK732X</string>
						<key>name</key>
						<string>JP Imnex Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>3.17.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AD4EE6355944F33BDB29D8068F22F6C1A1408EFC</string>
						<key>dateExpires</key>
						<string>2023/02/03</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>dhwrSDK.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7839LK732X</string>
						<key>name</key>
						<string>JP Imnex Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AD4EE6355944F33BDB29D8068F22F6C1A1408EFC</string>
						<key>dateExpires</key>
						<string>2023/02/03</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7839LK732X</string>
						<key>name</key>
						<string>JP Imnex Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.3.9011</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>7839LK732X.com.appknot.showroom</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>7839LK732X</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Showroom.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>d6828d1f-9fd7-4e3f-b574-0d5a4a5d628d</string>
				<key>dateExpires</key>
				<string>2022/06/30</string>
				<key>name</key>
				<string>Showroom In House</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>7839LK732X</string>
				<key>name</key>
				<string>JP Imnex Co., Ltd.</string>
			</dict>
			<key>versionNumber</key>
			<string>1.49</string>
		</dict>
	</array>
</dict>
</plist>
